{{ define "main" }}
<section class="bg-light">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-3 video-title">A <b> better workflow</b> for you.</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <video poster="" id="video" class="youtube video-js vjs-default-skin video-16-9 video-image"
          controls width="640" height="264" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=XVnWSKk-7lE"}], "youtube": { "ytControls": 2 } }'>
        </video>
      </div>
    </div>
    <div class="row justify-content-center mt-10">
      <div class="col-md-8 col-xl-6">
        <div class="row gutter-2 separated text-center">
          <div class="col-md-4">
            <h4 class="fs-30 font-weight-normal mb-0">2000+</h4>
            <span class="text-muted views">downloads</span>
          </div>
          <div class="col-md-4">
            <h4 class="fs-30 font-weight-normal mb-0">550+</h4>
            <span class="text-muted">users worldwide</span>
          </div>
          <div class="col-md-4">
            <h4 class="fs-30 font-weight-normal mb-0">9.1</h4>
            <span class="text-muted">rating score</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / cover -->


<!-- partners -->
<section class="separator-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <span class="eyebrow mb-2 text-primary">Our Clients</span>
        <h3>This guys are using our product and they're more than happy.</h3>
      </div>
    </div>
    <div class="row mt-8" data-aos="zoom-in">
      <div class="col partners align-items-center">
        <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
          <div class="logo">
            <img src="/images/demo/logo/logo-1.png" alt="Logo">
          </div>
          <div class="logo">
            <img src="/images/demo/logo/logo-2.png" alt="Logo">
          </div>
          <div class="logo">
            <img src="/images/demo/logo/logo-3.png" alt="Logo">
          </div>
          <div class="logo">
            <img src="/images/demo/logo/logo-4.png" alt="Logo">
          </div>
          <div class="logo">
            <img src="/images/demo/logo/logo-5.png" alt="Logo">
          </div>
          <div class="logo">
            <img src="/images/demo/logo/logo-6.png" alt="Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / partners -->


<!-- presentation -->
<section class="section-lg">
  <div class="container">
    <div class="row my-10">
      <div class="col-lg-6">
        <div class="row">
          <div class="col">
            <h2>The <b>right way</b> <br>to build your startup.</h2>
          </div>
        </div>
        <div class="row gutter-3">
          <div class="col-md-6" data-aos="fade-up">
            <div class="media">
              <i class="icon-bar-chart-2 fs-30 text-primary mr-2"></i>
              <div class="media-body">
                <h5 class="mt-0 text-uppercase font-weight-bold fs-14 letter-spacing">Analytics</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <div class="media">
              <i class="icon-award fs-30 text-primary mr-2"></i>
              <div class="media-body">
                <h5 class="mt-0 text-uppercase font-weight-bold fs-14 letter-spacing">Award Winning</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <div class="media">
              <i class="icon-command fs-30 text-primary mr-2"></i>
              <div class="media-body">
                <h5 class="mt-0 text-uppercase font-weight-bold fs-14 letter-spacing">Control</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <div class="media">
              <i class="icon-check-circle2 fs-30 text-primary mr-2"></i>
              <div class="media-body">
                <h5 class="mt-0 text-uppercase font-weight-bold fs-14 letter-spacing">Support</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 presentation presentation-responsive">
        <img class="left-0 vertical-align" src="/images/demo/service/macbook.png" alt="Image">
      </div>
    </div>
  </div>
</section>
<!-- / presentation -->


<!-- blog -->
<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2>See our <b>case studies.</b></h2>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col">
        <ul class="masonry row gutter-1">
          <li class="col-md-4" data-aos="fade-up">
            <article class="tile">
              <div class="tile-image" style="background-image: url(/images/demo/image-1.jpg)"></div>
              <a href="" class="tile-content">
                <div class="tile-footer">
                  <span class="eyebrow mb-1">Design</span>
                  <h3>Quick guide on traveling with friends.</h3>
                </div>
              </a>
            </article>
          </li>
          <li class="col-md-4" data-aos="fade-up">
            <article class="tile tile-long">
              <div class="tile-image" style="background-image: url(/images/demo/image-6.jpg)"></div>
              <a href="" class="tile-content">
                <div class="tile-footer">
                  <span class="eyebrow mb-1">Design</span>
                  <h3>Quick guide on traveling with friends.</h3>
                </div>
              </a>
            </article>
          </li>
          <li class="col-md-4" data-aos="fade-up">
            <article class="tile">
              <div class="tile-image" style="background-image: url(/images/demo/image-3.jpg)"></div>
              <a href="" class="tile-content">
                <div class="tile-footer">
                  <span class="eyebrow mb-1">Design</span>
                  <h3>Quick guide on traveling with friends.</h3>
                </div>
              </a>
            </article>
          </li>
          <li class="col-md-4" data-aos="fade-up">
            <article class="tile tile-long">
              <div class="tile-image" style="background-image: url(/images/demo/image-4.jpg)"></div>
              <a href="" class="tile-content">
                <div class="tile-footer">
                  <span class="eyebrow mb-1">Design</span>
                  <h3>Quick guide on traveling with friends.</h3>
                </div>
              </a>
            </article>
          </li>
          <li class="col-md-4" data-aos="fade-up">
            <article class="tile tile-long">
              <div class="tile-image" style="background-image: url(/images/demo/image-5.jpg)"></div>
              <a href="" class="tile-content">
                <div class="tile-footer">
                  <span class="eyebrow mb-1">Design</span>
                  <h3>Quick guide on traveling with friends.</h3>
                </div>
              </a>
            </article>
          </li>
          <li class="col-md-4" data-aos="fade-up">
            <article class="tile">
              <div class="tile-image" style="background-image: url(/images/demo/image-2.jpg)"></div>
              <a href="" class="tile-content">
                <div class="tile-footer">
                  <span class="eyebrow mb-1">Design</span>
                  <h3>Quick guide on traveling with friends.</h3>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col text-center">
        <a href="" class="btn btn-block btn-lg btn-secondary">Load More</a>
      </div>
    </div>
  </div>
</section>
<!-- / blog -->
<!-- <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script>
  function videoViews(id) {
    let title = document.querySelector('.video-title');
    $.ajax({
      url: "https://www.googleapis.com/youtube/v3/videos?id=" + id + "&key=AIzaSyDJtuQlS2Vm_qN2UJMVUOvaOg0MXlpiGyE&part=snippet",
      success: function (data) {
        console.log(data.items[0].snippet);
        title.innerHTML = data.items[0].snippet.title;
        // var len = data.feed.entry.length;

        // for (var k = 0; k < len; k++) {
        //   var yt = data.feed.entry[k];
        //   v.count = Number(yt.yt$statistics != undefined && yt.yt$statistics.viewCount != undefined ? yt.yt$statistics
        //     .viewCount : 0);
        // }
      }
    });
    

    //Embed Video
    // $('.videoembed').html(embedCode);
  }
  videoViews("XVnWSKk-7lE");
</script> -->
{{ end }}