<footer class="bg-dark text-white">
  <div class="container pb-5">
    <div class="row">
      <div class="col">
        <h2 class="h3">Rue du Monte 47, 1000 <br>Brussels, Belgium</h2>
      </div>
      <div class="col text-right">
        <ul class="list-group list-group-minimal">
          <li class="list-group-item"><a href="">Facebook</a></li>
          <li class="list-group-item"><a href="">Twitter</a></li>
          <li class="list-group-item"><a href="">Instagram</a></li>
          <li class="list-group-item"><a href="">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="separator-top">
    <div class="container py-5">
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <img class="logo-sm" src="../../assets/images/demo/logo/logo-light.svg" alt="Logo">
        </div>
        <div class="col text-right">
          <span class="copyright-text">&copy; Made with love.</span>
        </div>
      </div>
    </div>
  </div>
</footer>