{{ with .Params.nav }}
<header class="header-sticky {{ .text_color }}">
  <div class="container">
    <nav class="navbar navbar-expand-lg {{ .base_color }}">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo navbar-logo-light" src="/images/logo/levites_voice_logo_light.svg" alt="Logo">
        <img class="navbar-logo navbar-logo-dark" src="/images/logo/levites_voice_logo_dark.svg" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          {{ range $.Site.Home.AllTranslations }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Permalink | absLangURL }}" role="button">
              {{ .Language.LanguageName }}
            </a>
          </li>
          {{ end }}
        </ul>

        <ul class="navbar-nav align-items-center ml-auto">
          <li class="nav-item">
            <a class="nav-link" href='{{ "/" | absLangURL }}' role="button">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{{ "/about" | absLangURL }}' role="button">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{{ "/songs" | absLangURL }}' role="button">
              Songs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{{ "/sheet-music" | absLangURL }}' role="button">
              Sheet Music
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{{ "/contact" | absLangURL }}' role="button">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
{{ end }}